<form>
  <div class="form-group">
    <label for="nameInput">Name</label>
    <input type="text" class="form-control" name="name" id="nameInput" [(ngModel)]="book.name">
  </div>
  <div class="form-group">
    <label for="isbnInput">ISBN</label>
    <input type="text" class="form-control" name="isbn" id="isbnInput" [(ngModel)]="book.isbn">
  </div>

  <div class="form-group">
    <label for="authorSelect">Author</label>
    <select class="form-control" name="author" id="authorSelect" [(ngModel)]="book.authorId">
      <option *ngFor="let author of authors" [ngValue]="author.id">{{author.fullName}}</option>
    </select>
    
  </div>

  <button (click)="saveBook()" class="btn btn-primary">Save</button>
</form>
